
     @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
     

html, body {   
    font-size: 10px;
    font-weight: 400; 
}


.select{
    background-color: rgb(210, 242, 30, 0.5);
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
     font-family: 'Poppins', sans-serif;
}


h1 {
    font-size: 25px;
    line-height: 1.35;
    letter-spacing: -.02em;
    margin: 24px ;
    color:   #373737;
    justify-content: center;
}


.nav_mod{
    height: 70px;
    box-shadow: 1px 1px 10px 0px #00000010;
    background: #373737;
}



.btn__menu{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background 300ms;
    display: none;
}

.btn__menu:hover{
    background: #f5f5f5;
}





body{

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
   
    margin: 50px 60px 60px 200px;
    width: 500px;
    padding: 20px; 
      
}


/*Formularios*/



.formulario__register{
    width: 100%;
    margin-top: 10px;
    padding: 25px;
    border: none;
    background: #F2F2F2;
    font-size: 11px;
    outline: none;
    border-radius: 20px;
    
}



.formulario__register button {
    border-radius: 5px;
    font-size: 14px;
    background: #3F4038;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin: 8px;
}





@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

   
    /*Formularios*/  

    .contenedor__login-register form{
        position: relative;
    }
}