
.select{
    background-color: rgb(210, 242, 30, 0.5);
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
     font-family: 'Poppins', sans-serif;
}


select{

    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 11px;
    outline: none;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
      color: #ca0427;
}


*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}
     
     

header{
    width: 100%;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    transition: all 300ms;
    backdrop-filter: blur(10px);
    background-color: rgb(35, 34, 37, 0.5);
    }
     
     
     
     

.container__header{
    max-width: 1200px;
    height: 120%;  
    display: flex;
    justify-content: space-between; 
    font-family: 'Poppins', sans-serif;
    margin: auto;
    padding: 0px 20px;
}




header .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo img{
    width: 200px;
    justify-content: center; 
   
}




.container__nav{
    position: relative;
    height: 100%;
}


nav{
    height: 100%;
}


nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     font-family: 'Poppins', sans-serif;
}

nav ul li{
    margin: 0px 20px;
    list-style: none;
     font-family: 'Poppins', sans-serif;
}

nav ul li a{
    color:  white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}









.olvido{
  
   margin: 25px;
    list-style: none;
  }



olvido ul{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: start;
     font-family: 'Poppins', sans-serif;
     text-decoration: none;
     list-style: none;
         color: #3F4038;
   
}

olvido ul li{
    margin: 0px 20px;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    list-style: none;
       color: #3F4038;
}

olvido ul li a{

	
    font-size: 14px;
     font-family: 'Poppins', sans-serif;
      list-style: none;
          color: #3F4038;
}







.nav_mod{
    height: 70px;
    box-shadow: 1px 1px 10px 0px #00000010;
    background: #373737;
}



.btn__menu{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background 300ms;
    display: none;
}

.btn__menu:hover{
    background: #f5f5f5;
}



body{
    background-image: url(../assets/img/fontLogin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 80px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgb(210, 242, 30, 0.5);
    border-radius: 20px;
}




.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
    border-radius: 20px;
}




.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
    color: black;
    
}

.caja__trasera button{
    padding: 10px 40px;
   
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
     border-radius: 5px ;
}

.caja__trasera button:hover{
    background: #fff;
    color: rgb(210, 242, 30);
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
  

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 45px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #3F4038 ;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 11px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 14px;
    background: #3F4038 ;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}




.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}



@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}