@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color1: #373737;
    --color2: #011627;
    --color3: #ffffff;
    --color4: #117A65;
    --color5: #f4ce80;
    --color6: #f0fffc;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container__all{
    position: relative;
    right: 0;
    transition: all 300ms;
}



header{
    width: 100%;
    height: 100px;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    transition: all 300ms;
    background:  radial-gradient(farthest-corner at 40px 40px, #373737 80% , #f4ce80 90% ); }

.move_content{
    right: 180px;
}



.container__header{
    max-width: 1200px;
    height: 100%;  
    display: flex;
    justify-content: space-between; 
    margin: auto;
    padding: 0px 20px;
}



header .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo img{
    width: 150px;
}


.container__nav{
    position: relative;
    height: 100%;
}


nav{
    height: 100%;
}


nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin: 0px 20px;
    list-style: none;
}

nav ul li a{
    color:  white;
    font-size: 14px;
}


.select{
    background: #f4ce80;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
}

.nav_mod{
    height: 70px;
    box-shadow: 1px 1px 10px 0px #00000010;
    background: #373737;
}



.btn__menu{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background 300ms;
    display: none;
}

.btn__menu:hover{
    background: #f5f5f5;
}





h1{

	text-transform: uppercase;
	text-align: center;
	font-size: 60px;
	color:transparent;
	 background-color: #b3b3b3; 
	 text-shadow: 2px 2px 3px rgba(249, 249, 163, 0.8);
	 -webkit-background-clip:text;
	 -moz-background-clip:text;
	 background-clip:text;
	
}




.container-all{	
    width: 210px;
    margin: auto;
    perspective:1000px;
    position: relative;
    margin-top:105px;
     }


.content-Carrousel{
	 margin-top:40px;
	 width: 100%;
	 position: absolute;
	 animation:rotar 30s infinite linear;
	 transform-style: preserve-3d;
	
	  	
}

.content-Carrousel:hover{
	animation-play-state:paused;
	cursor: pointer;
	
}
	

.content-Carrousel figure{
	
	 width: 100%;
	 height: 200px;
	 overflow: hidden;
	 position: absolute;
	 box-shadow: 0px 0px 2px black;
	 transition: all 300ms;	
	 padding-bottom: 60px;
	
}

.content-Carrousel figure:hover{
	 box-shadow: 0px 0px 0px black;
	 transition: all 300ms;	 
	 padding-bottom: 60px;
}



.content-Carrousel figure:nth-child(1){transform:rotateY(0deg) translateZ(300px);}
.content-Carrousel figure:nth-child(2){transform:rotateY(40deg) translateZ(300px);}
.content-Carrousel figure:nth-child(3){transform:rotateY(80deg) translateZ(300px);}
.content-Carrousel figure:nth-child(4){transform:rotateY(120deg) translateZ(300px);}
.content-Carrousel figure:nth-child(5){transform:rotateY(160deg) translateZ(300px);}
.content-Carrousel figure:nth-child(6){transform:rotateY(200deg) translateZ(300px);}
.content-Carrousel figure:nth-child(7){transform:rotateY(240deg) translateZ(300px);}
.content-Carrousel figure:nth-child(8){transform:rotateY(280deg) translateZ(300px);}
.content-Carrousel figure:nth-child(9){transform:rotateY(320deg) translateZ(300px);}
.content-Carrousel figure:nth-child(10){transform:rotateY(360deg) translateZ(300px);}


.content-Carrousel img{	
	 width: 100%; 
	  height: 200px;
	 transition: all 300ms;	
}


.content-Carrousel img:hover{	
	transform: scale(1.7);
	transition: all 300ms;
}



@keyframes rotar {
	from {
	transform:rotateY(0deg);
    }to{
     transform:rotateY(360deg);
    }	
}


/*COVER*/

.cover{
    width: 100%;
    padding-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    margin-top: 450px;
    text-decoration: none;
    
}

   

.container__cover{
    max-width: 1100px;
    margin: auto;   
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    text-decoration: none; 
    flex-wrap: wrap;
    justify-content:center;      
    
}


.box {
	list-style: none;
	width: 200px;
	height: 200px;
	background: #fff;
	margin: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction:column;
	cursor: pointer;
	transition: all 300ms ease;
	position:relative; 	
	
	}


.box:hover{
	transform: scale(1.1);
	box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.5);
	background:  #f4ce80;
	z-index: 1;
}



.box i{
	align-items: center;
	justify-content: center;
	font-size: 60px;
	color:  #f4ce80;
	 
}





.box:hover i{	
	align-items: center;
	justify-content: center;
	color:  #fff;
	
}

.box h5{
	 margin-top: 20px;
	 text-transform: uppercase;
	 font-size: 14px;
	 color: #777777;
	 font-family: 'Poppins', sans-serif;	
	 text-decoration: none;
	
}


.box:hover h5{
	color: #fff;
	opacity:0;
	 text-decoration: none;
}


.box h4{
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
	position:absolute;
	bottom: 50px; 
	filter:blur(5px);
	opacity:0;	 	
	font-family: 'Poppins', sans-serif;
	text-decoration: none;

}


.box:hover h4{
	font-size: 14px;
	opacity:1;
	filter:blur(0px);
	color: #fff;
	transition: all 300ms ease;		
}





/*COVER*/

.coverp{	 
  
    padding-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    
}

.container__coverp{
    max-width: 1200px;
    margin-top: 350px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: url(../images/background-cover.svg);
    background-size: cover;
    background-position: bottom;
}

.coverp .container__infop{
    max-width: 350px;
    margin-top: 40px;
    z-index: 2;
}


.coverp p{
    margin-top: 10px;
    color: #373737;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.coverp input[type="button"]{
    padding: 10px 40px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: white;
    background: #FEBA0B;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    cursor: pointer;
    transition: box-shadow 500ms;
}

.coverp input[type="button"]:hover{
    box-shadow: 1px 1px 30px -5px #20202085;
}


.container__vector{
    position: relative;
}

.container__vector img{
	
   
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 800px;
    animation: move_vector 6s ease-in-out infinite;
    transition: all 300ms;
}

@keyframes move_vector {
    0%{
        transform: translateY(10px);
    }
    25%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}

@keyframes move_vector {
    0%{
        transform: translateY(10px);
    }
    25%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}

@media screen and (max-width: 920px){
    .container__vector img{
        width: 500px;
    }
}


@media screen and (max-width: 760px){

    .container__nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn__menu{
        display: flex;
    }

    nav{
        height: 100%;          
        position: fixed;
        top: 0;
        right: -290px;
        padding: 0 40px;
        transition: all 300ms;
        background:  radial-gradient(farthest-corner at 40px 40px, #373737 80% , #f4ce80 90% ); 
    }

    .move_nav{
        right: 0px;
    }

    nav ul{
        flex-direction: column;
    }

    nav ul li{
        margin: 20px 0px;
    }

    .container__vector img{
        transform: scale(0);
        animation: none;
    }
}


/****************************/
 .container__tienda{
   font-family: 'Poppins', sans-serif;
   color: #FEBA0B;
   text-decoration: none;
   margin: 40px;
   z-index: 2;
   border-style: none none solid  none;
   }






.cards{
    max-width: 1025px;
    margin:auto;
    display: flex;
    flex-wrap:wrap;   
   
}
   
   
   
.cards_2{
    max-width: 1025px;
    margin:auto;
    display: flex;
    flex-wrap:wrap; 
     
}


.cards_3{
    max-width: 1025px;
    margin:auto;
    display: flex;
    flex-wrap:wrap; 
     
}



.cards_4{
     max-width: 1025px;
    margin:auto;
    display: flex;
    flex-wrap:wrap; 
     
}

   
.card__img--hover{
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;   
    height: 187px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}


.card--1 .card__img--hover{		
    background-image: url(../assets/img/Cat01.JPG);
}

.card--2 .card__img--hover{   
    background-image: url(../assets/img/Cat02.JPG);
}

.card--3 .card__img--hover{	
    background-image: url(../assets/img/Cat03.JPG);
}

.card--4 .card__img--hover{	
    background-image: url(../assets/img/Cat04.JPG);
}

.card--5 .card__img--hover{	
    background-image: url(../assets/img/Cat05.JPG);
}

.card--6 .card__img--hover{	
    background-image: url(../assets/img/Cat06.JPG);
}

.card--7 .card__img--hover{	
    background-image: url(../assets/img/Cat07.JPG);
}

.card--8 .card__img--hover{	
    background-image: url(../assets/img/Cat08.JPG);
}




.card--9 .card__img--hover{		
    background-image: url(../assets/img/Cat09.JPG);
}

.card--10 .card__img--hover{   
    background-image: url(../assets/img/Cat10.JPG);
}

.card--11 .card__img--hover{	
    background-image: url(../assets/img/Cat11.JPG);
}

.card--12 .card__img--hover{	
    background-image: url(../assets/img/Cat12.JPG);
}

.card--13 .card__img--hover{	
    background-image: url(../assets/img/Cat13.JPG);
}

.card--14 .card__img--hover{	
    background-image: url(../assets/img/Cat14.JPG);
}

.card--15 .card__img--hover{	
    background-image: url(../assets/img/Cat15.JPG);
}

.card--16 .card__img--hover{	
    background-image: url(../assets/img/Cat16.JPG);
}









.card--17 .card__img--hover{		
    background-image: url(../assets/img/Cat17.JPG);
}

.card--18 .card__img--hover{   
    background-image: url(../assets/img/Cat18.JPG);
}

.card--19 .card__img--hover{	
    background-image: url(../assets/img/Cat19.JPG);
}

.card--20 .card__img--hover{	
    background-image: url(../assets/img/Cat20.JPG);
}

.card--21 .card__img--hover{	
    background-image: url(../assets/img/Cat21.JPG);
}

.card--22 .card__img--hover{	
    background-image: url(../assets/img/Cat22.JPG);
}

.card--23 .card__img--hover{	
    background-image: url(../assets/img/Cat23.JPG);
}

.card--24 .card__img--hover{	
    background-image: url(../assets/img/Cat24.JPG);
}









.card--25 .card__img--hover{		
    background-image: url(../assets/img/Cat25.JPG);
}

.card--26 .card__img--hover{   
    background-image: url(../assets/img/Cat26.JPG);
}

.card--27 .card__img--hover{	
    background-image: url(../assets/img/Cat27.JPG);
}

.card--28 .card__img--hover{	
    background-image: url(../assets/img/Cat28.JPG);
}

.card--29 .card__img--hover{	
    background-image: url(../assets/img/Cat29.JPG);
}

.card--30 .card__img--hover{	
    background-image: url(../assets/img/Cat30.JPG);
}

.card--31 .card__img--hover{	
    background-image: url(../assets/img/Cat31.JPG);
}

.card--32 .card__img--hover{	
    background-image: url(../assets/img/Cat32.JPG);
}








.card__time{
    font-size: 12px;
    margin-left: 5px;
   color:#FEBA0B;
}



.card__clock-info{
    float: right;
}



.card__img{
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
   }
   
   
.card__info-hover{
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}




.card{	
	width: 250px;
	height: 232px;
	margin: 2px;
	transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 13px 10px -7px rgba(0,0,0,0.1); 
}



.card:hover{
    box-shadow: 0px 30px 18px -8px rgba(0,0,0,0.1); 
    transform: scale(1.10, 1.10);
}


.card__by{
    font-size: 12px;
    font-weight: 500;
}

.card__author{
    font-weight: 600;
    text-decoration: none;
    color:#FEBA0B;
}



.card:hover .card__img--hover{
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info{
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover{
    opacity: 1;
}



/*AQUI COMIENZA EL FOOTER*/




footer{

    background-image:url(../assets/img/foote1.jpg); 
    background-size: cover;
    background-blend-mode: soft-light;
    background-attachment: fixed; 
    position: relative;   
    flex-direction: column;
    text-decoration: none !important;
    background-color: #373737;
    -webkit-mask-image:url(../assets/img/foote1.jpg);
    mask-image: url(../assets/img/foote1.jpg);
    -webkit-mask-size: cover;
    mask-size: cover;    
    }
    
    
    
.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color:  #f4ce80;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;}

