
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}
     
     

header{
    width: 100%;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
   backdrop-filter: blur(10px);
    background-color: rgb(35, 34, 37, 0.5);
        }
     
     
     
     

.container__header{
    max-width: 1200px;
    height: 120%;  
    display: flex;
    justify-content: space-between; 
    font-family: 'Poppins', sans-serif;
    margin: auto;
    padding: 0px 20px;
}




header .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo img{
    width: 200px;
    justify-content: center; 
   
}




.container__nav{
    position: relative;
    height: 100%;
}


nav{
    height: 100%;
}


nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     font-family: 'Poppins', sans-serif;
}

nav ul li{
    margin: 0px 20px;
    list-style: none;
     font-family: 'Poppins', sans-serif;
}

nav ul li a{
    color:  white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}





.select{
    background-color: rgb(210, 242, 30, 0.5);
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
     font-family: 'Poppins', sans-serif;
}


.nav_mod{
    height: 70px;
    box-shadow: 1px 1px 10px 0px #00000010;
    background: #373737;
}



.btn__menu{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background 300ms;
    display: none;
}

.btn__menu:hover{
    background: #f5f5f5;
}



body{
    background-image: url(../assets/img/fontLogin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

/*Formularios*/

.contenedor__login-register{
    margin-left: auto;
    margin-right: auto; 
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
  }

.contenedor__login-register form{
    width: 100%;
    padding: 45px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
   margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #3F4038 ;
     margin-left: auto;
    margin-right: auto; 
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 11px;
    outline: none;
    margin-left: auto;
    margin-right: auto; 
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 14px;
    background: #3F4038 ;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}




.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}



@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

 


    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}